@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

header {
    padding: 15px;
    padding-left: 25px;
    background-color: #0077ff;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
}

.maintitle {
    color: #ffffff;
    font-size: 30px;
}

.outermain {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.main {
    width: 70%;
    min-width: 750px;
    margin: 0 auto;
}

.inputarea {
    border: #b6d8ff 10px solid;
    display: flex;
    border-radius: 20px;
    background-color: #b6d8ff;
}

.buttoninput {
    border: none;
    padding: 10px 15px 10px 15px;
    font-size: 40px;
    color: #ffffff;
    background-color: #b6d8ff;
    border-radius: 15px;
    border-left: #b6d8ff 10px solid;
    cursor: pointer;
}

.buttoninput:hover {
    color: #757575;
}

.textinput {
    border: none;
    font-size: 40px;
    flex-grow: 1;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #eef6ff;
    border-radius: 15px;
}

.textinput:focus {
    outline: none;
}

.outputarea {
    border: #b6ffc6 10px solid;
    display: flex;
    border-radius: 20px;
    background-color: #b6ffc6;
    margin-top: 100px;
}

.sharezone {
    border: none;
    font-size: 40px;
    flex-grow: 1;
    padding: 15px;
    background-color: #eaffee;
    border-radius: 15px;
    color: #757575;
}

.shareurl {
    color: #757575;
    text-decoration: none;
}

.shareurl:hover {
    color: #000000;
}

.copy {
    border: none;
    padding: 10px 15px 10px 15px;
    font-size: 40px;
    color: #ffffff;
    background-color: #b6ffc6;
    border-radius: 15px;
    border-left: #b6ffc6 10px solid;
    cursor: pointer;
}

.copy:hover {
    color: #757575;
}

footer {
    padding: 10px;
    padding-right: 20px;
    background-color: #757575;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.copyright {
    color: #ffffff;
    font-size: 25px;
}

.social1 {
    color: #ffffff;
    text-decoration: none;
}

.social1:hover {
    color: #b6d8ff;
}

.social2 {
    color: #ffffff;
    text-decoration: none;
}

.social2:hover {
    color: #b6ffc6;
}

@media screen and (max-width:480px) {

    .outermain {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .main {
        width: 90%;
        min-width: 370px;
        margin: 0 auto;
    }

    .inputarea {
        border: #b6d8ff 5px solid;
        display: flex;
        border-radius: 10px;
        background-color: #b6d8ff;
    }

    .buttoninput {
        border: none;
        padding: 5px 7.5px 5px 7.5px;
        font-size: 20px;
        color: #ffffff;
        background-color: #b6d8ff;
        border-radius: 7.5px;
        border-left: #b6d8ff 5px solid;
        cursor: pointer;
    }

    .textinput {
        border: none;
        font-size: 20px;
        flex-grow: 1;
        padding-left: 7.5px;
        padding-right: 7.5px;
        background-color: #eef6ff;
        border-radius: 7.5px;
    }

    .outputarea {
        border: #b6ffc6 5px solid;
        display: flex;
        border-radius: 10px;
        background-color: #b6ffc6;
        margin-top: 50px;
    }

    .sharezone {
        border: none;
        font-size: 20px;
        flex-grow: 1;
        padding: 7.5px;
        background-color: #eaffee;
        border-radius: 7.5px;
        color: #757575;
    }

    .copy {
        border: none;
        padding: 5px 7.5px 5px 7.5px;
        font-size: 20px;
        color: #ffffff;
        background-color: #b6ffc6;
        border-radius: 7.5px;
        border-left: #b6ffc6 10px solid;
        cursor: pointer;
    }

    footer {
        padding: 10px;
        background-color: #757575;
        text-align: center;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    }

}
